@page
@model RMARequestCreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RMA Case</h4>
<hr />

<form>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RMARequest.CustomerERPId" class="control-label"></label>
                <select id="CustomerERPId" class="form-control" asp-for="RMARequest.CustomerERPId" asp-items="@Model.B1Customers">
                    <option value="">Pick one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.CustomerContact" class="control-label"></label>
                <input id="CustomerContact" asp-for="RMARequest.CustomerContact" class="form-control" />
                <span asp-validation-for="RMARequest.CustomerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.InvoiceNumber" class="control-label"></label>
                <input id="InvoiceNumber" asp-for="RMARequest.InvoiceNumber" class="form-control" />
                <span asp-validation-for="RMARequest.InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.DefectPhenomenon" class="control-label"></label>
                <textarea id="DefectPhenomenon" asp-for="RMARequest.DefectPhenomenon" class="form-control" rows="5"></textarea>
                <span asp-validation-for="RMARequest.DefectPhenomenon" class="text-danger"></span>
            </div>
                     
            <div class="form-group">
                <label asp-for="RMARequest.Remark" class="control-label"></label>
                <textarea id="Remark" asp-for="RMARequest.Remark" class="form-control" rows="5"></textarea>
                <span asp-validation-for="RMARequest.Remark" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RMARequest.CustomerName" class="control-label"></label>
                <input id="CustomerName" asp-for="RMARequest.CustomerName" class="form-control" />
                <span asp-validation-for="RMARequest.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.CustomerContactEmail" class="control-label"></label>
                <input id="CustomerContactEmail" asp-for="RMARequest.CustomerContactEmail" class="form-control" />
                <span asp-validation-for="RMARequest.CustomerContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sales Person</label>
                <select id="SalesPersonUserId" class="form-control" asp-for="RMARequest.SalesPersonUserId" asp-items="@Model.SalesPersons">
                    <option value="">Pick one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.RMANumber" class="control-label"></label>
                <input id="RMANumber" asp-for="RMARequest.RMANumber" class="form-control" readonly />
                <span asp-validation-for="RMARequest.RMANumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.RMAIssueDate" class="control-label"></label>
                <input id="RMAIssueDate" asp-for="RMARequest.RMAIssueDate" class="form-control" readonly />
                <span asp-validation-for="RMARequest.RMAIssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.RMARequest.Status, Model.RMAStatuses, new { @class = "form-control", @disabled = "", @id = "Status" })
                <span asp-validation-for="RMARequest.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMARequest.RMAReport" class="control-label"></label>
                @Html.DropDownListFor(model => model.RMARequest.RMAReport, Model.RMAReports, new { @class = "form-control", @disabled = "", @id = "RMAReport" })
                <span asp-validation-for="RMARequest.RMAReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="saveRequest" type="submit" class="btn btn-primary">Save Request</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <label class="control-label">Model Number</label>
        </div>
        <div class="form-group col-md-4">
            <input id="PartNumber" class="form-control" />
        </div>
        <div class="form-group col-md-1">
            <label class="control-label">Serial Number</label>
        </div>
        <div class="form-group col-md-4">
            <input id="SerialNumber" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <a id="addToList" class="btn btn-primary">Add</a>
        </div>
    </div>
    <table id="detailsTable" class="table table-striped table-hover table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th style="width:10%">Model No</th>
                <th style="width:10%">Serial No</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/RMA/RMARequestCreate.js"></script>    
}